/* Hero szekció (felső bemutatkozás) */
.hero {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--ifm-background-color);
}

.heroContainer {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  color: var(--ifm-color-primary);
}

.subtitle {
  font-size: 1.2rem;
  color: var(--ifm-color-secondary);
}

/* Fő tartalom (téglalap alakú linkek) */
.mainContent {
  padding: 5rem;
  background-color: var(--ifm-background-color);
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.card {
  text-decoration: none;
  background-color: var(--ifm-card-background-color);
  color: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
  border-radius: 16px;
  padding: 1.5rem 6rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 300px;
}

.card:hover {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}

.card h3 {
  margin: 0;
}
